.topnav .navbar{
  padding: 0;
  font-size: 0.9rem;
}
.topnav .nav-item{
  padding-right: 5px;
}
.header{
  padding: 24px 0;
}
.header-cart{
  float: left;
}
.main-nav .nav-link{
  padding-top: 15px;
  padding-bottom: 15px;
}
.main-nav .nav-link{
  color: #262626;
}
.header .navbar{
  padding:0;
}
.main-nav-toggle{
  float:left;
  padding-left: 1.2rem;
}
.main-nav{
  padding: 0;
}
.main-nav .active{
  background-color: blue;
  color: white !important;
}
.main-nav .nav-link{
  padding-left: 1.2rem !important;
  padding-right: 1.2rem !important;
}



.carousel-inner{
  height: 450px;
}
.car-img1{
  background-image: image("https://i.insider.com/540f3701eab8eaf81065a627?width=700");
}
