.topnav .navbar{
  padding: 0;
  font-size: 0.9rem;
}
.topnav .nav-item{
  padding-right: 5px;
}
.header{
  padding: 24px 0;
}
.header-cart{
  float: left;
}
.main-nav .nav-link{
  padding-top: 15px;
  padding-bottom: 15px;
}
.main-nav .nav-link{
  color: #262626;
}
.header .navbar{
  padding:0;
}
.main-nav-toggle{
  float:left;
  padding-left: 1.2rem;
}
.main-nav{
  padding: 0;
}
.main-nav .active{
  background-color: blue;
  color: white !important;
}
.main-nav .nav-link{
  padding-left: 1.2rem !important;
  padding-right: 1.2rem !important;
}



.carousel-inner{
  height: 450px;
}
.car-img1
{
  background: url("i1.jpg") 0 0 no-repeat;
  background-size: cover;

}
.adv{
  color:white;
  text-align: center;
  margin:10px;
  padding:20px;

}
.advertisement
{
  padding-top: 1rem;
  padding-bottom: 1rem;
}


.adv i{
  font-size:2rem;
  padding-bottom: 10px;
}

.phead{
  text-align: center;
  margin-top: 2.5rem;
  font-weight: 100;
  margin-bottom: 1.5rem;
}
.nav-b{
  color: white;
  text-align: center;
  display: inline-block;
  margin: 0 5px 0.5rem 5px;
  padding: 4px 8px;
  background-color:red;
}

.products{
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.company{
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}
.clogo{
  color:white;
  text-align: center;
  margin:10px;
  height:175px;
}
.col{
  text-align: center;
}

hr{
  padding:0;
  margin: 0;
}

@media only screen and (max-width: 1200px)
{
  .carousel-inner{
    height: 600px;
  }
}
